@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 440px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.calculator-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}

.table>tbody>tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  margin: 2px 0;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}

.btn {
  height: 3em;
  width: 100%;
  font-weight: 700;
  background: #eee;
  border: 1px solid #aaa;
}

.btn:hover {
  background: #ddd;
}

.historic-wrapper {
  display: flex;
  width: 100%;
}

.historic {
  display: flex;
  flex-flow: column nowrap;
  text-align: right;
  height: 100%;
  width: 100%;
  list-style: none;
}
.historic button {
  border: 1px solid #fff;
  background: #fff;
  text-align: right;
  padding: 0 1em;
  margin: 0 1px;
}
.historic>li,
.historic button {
  height: 2rem;
  width: 100%;
  transition: all 100ms ease-in-out;
}

.historic>li>button:hover {
  background: #eee;
}
